@model Web_Music.Models.NGHE_SI


@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>SINGER</h4>
    <hr />
  
    <table class="table">
        <tr>
            <th>ID</th>
            <th>
                Name
            </th>
            <th>
                Date of Birth
            </th>
            <th>
                Address
            </th>
            <th>
                Sex
            </th>
            <th>
                Stage Name
            </th>
            <th>Follower</th>

            <th>@ViewBag.qs</th>
        </tr>

        
            <img src="@Url.Content(ViewBag.NgheSi.URL_img)" style="height:200px;width:200px;margin:10px;" />
            <tr>
<td>@ViewBag.NgheSi.mans</td>



                <td>
                     @ViewBag.NgheSi.TenNS
                </td>
                <td>
                    @ViewBag.NgheSi.NgaySinh
                </td>
                <td>
                    @ViewBag.NgheSi.QueQuan
                </td>


                <td>
                    @ViewBag.NgheSi.GT
                </td>

                <td>
                    @ViewBag.NgheSi.NgheDanh
                </td>
                <td>@ViewBag.NgheSi.TheoDoi</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = ViewBag.NgheSi.mans }) |
                 
                </td>
            </tr>
        

    </table>
</div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
