@model Web_Music.Models.TIN_MOI

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TIN_MOI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL_img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL_img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuotTruyCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuotTruyCap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTM }) |
    @Html.ActionLink("Back to List", "Index")
</p>
