@model IEnumerable<Web_Music.Models.TIN_MOI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            Event
        </th>
        <th>
            Access times
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="img" src="@Url.Content(item.URL_img)" style="width:70px;height:70px;margin:5px;"/>
        </td>
        <td>
           @item.TenTM
        </td>
        <td>
           @item.LuotTruyCap
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTM }) |
            @Html.ActionLink("Detail", "Detail", new { id=item.MaTM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTM })
        </td>
    </tr>
}

</table>
