@model Web_Music.Models.SAN_PHAM
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/NewLayoutAdmin.cshtml";
}
@section Head{
    <title>Song edit</title>
}
<form class="content-wrapper" action="~/Admin/SANPHAM/Edit" method="post">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Product Edit</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Product Edit</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">General</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
					<div class="card-body">
						<div class="form-group">

							<input type="hidden" id="inputName" class="form-control" name="MaSP" value="@Model.MaSP">
						</div>
						<div class="form-group">
							<label for="inputName">Name</label>
							<input type="text" id="inputName" class="form-control" name="TenSP" value="@Model.TenSP">
						</div>

						<div class="form-group">
							<label for="inputName">Composed</label>
							<input type="text" id="inputName" class="form-control" name="SangTac" value="@Model.SangTac">
						</div>
						<div class="form-group">
							<label for="inputName">Type</label>
							<input type="text" id="inputName" class="form-control" name="TheLoai" value="@Model.Theloai">
						</div>

						<div class="form-group">
							<label for="inputStatus">Status</label>
							<select id="inputStatus" class="form-control custom-select" name="TrangThai" value="@Model.TrangThai">
								<option @*selected disabled*@ value="True">On</option>
								<option value="False">Off</option>

							</select>
						</div>

						<div class="form-group">
							<label for="inputName">Note</label>
							<input type="text" id="inputName" class="form-control" name="GhiChu" value="@Model.GhiChu">
						</div>

					</div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-6">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">General</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
					<div class="card-body">
						<div class="form-group">
							<label for="inputEstimatedBudget">Time</label>
							<input type="text" id="inputEstimatedBudget" class="form-control" name="ThoiGian" value="@Model.ThoiGian">
						</div>
						<div class="form-group">
							<label for="inputSpentBudget">Release</label>
							<input type="number" id="inputSpentBudget" class="form-control" name="TGPhatHanh" value="@Model.TGPhatHanh">
						</div>
						
						<div class="form-group">
							<label for="inputName">Singer</label>
							@*<input type="text" id="inputName" class="form-control" name="TheLoai">*@
							<select id="inputStatus" class="form-control custom-select" name="mans" @*value="@ViewBag.singer"*@>
								<option selected disabled value="@ViewBag.singer_id">@ViewBag.singer</option>
								@foreach (var item in ViewBag.ns)
								{
									<option value="@item.mans">@item.NgheDanh</option>
								}
							</select>
						</div>
						<div class="form-group">
							<label for="exampleInputFile">File</label>

							<div class="input-group">
								@*<img src="@Url.Content(Model.SP_URL)" class="profile-user-img img-fluid img-circle" id="previewImage" />*@
								<div class="custom-file">
									<input type="hidden" id="inputSpentBudget" class="form-control" name="SP_URL" value="@Model.SP_URL">
									<input type="file" class="custom-file-input" @*id="exampleInputFile"*@ name="fileUpload" @*onchange="ShowImagePreview(this, document.getElementById('previewImage'))*@ >
									<label class="custom-file-label" for="exampleInputFile">Choose file</label>
								</div>
							</div>
						</div>

						<!--<div class="form-group">
		<label for="exampleInputFile">File</label>

		<div class="input-group">-->
						@*<img src="@Url.Content(Model.URL_img)" class="profile-user-img img-fluid img-circle" id="previewImage" />*@
						<!--<div class="custom-file">
			<input type="file" class="custom-file-input" id="exampleInputFile" name="URL_link">
			<label class="custom-file-label" for="exampleInputFile">Choose file</label>
		</div>

	</div>-->
						@*<div class="form-group">

			<label for="exampleInputFile">File input</label>
			<div class="input-group">

				<div class="custom-file">
					<input type="file" class="custom-file-input" id="exampleInputFile" name="ImageUpload" onchange="ShowImagePreview(this, document.getElementById('previewImage'))">
					<label class="custom-file-label" for="exampleInputFile">Choose file</label>
				</div>
				<div class="input-group-append">
					<span class="input-group-text">Upload</span>
				</div>

			</div>
		</div>*@

					</div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <div class="row ">
                <div class="col-12">
                    <a href="~/Admin/SANPHAM/Index" class="btn btn-secondary" style="margin-right:400px;">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-success float-right">
                </div>
            </div>
    </section>
    <!-- /.content -->
</form>