@model IEnumerable<Web_Music.Function.BaiHatF>
@section Head{
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<title>Song edit</title>
}
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/NewLayoutAdmin.cshtml";
}

@{
	var list = ViewBag.list;

}
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>PRODUCT</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Projects</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<div class="sidebar-search" style="display:inline-flex;margin:10px">
		<form class="input-group custom-search-form" action="~/Admin/SANPHAM/Search" method="post">
			<input type="text" class="form-control" placeholder="Search..." name="search">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</form>
		<div>
			<button class="btn btn-primary btn-sm" style="font-size:17px; margin:2px 150px;" onclick="if ( true) { location.href='/Admin/SANPHAM/Create' }">Create</button>
		</div>
	</div>

	<!-- Main content -->
	<section class="content">

		<!-- Default box -->
		<div class="card" style="overflow-y:scroll;">
			@*<div class="card-header">


					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
							<i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>*@
			<div class="card-body p-0">
				<table class="table table-striped projects">
					<thead>
						<tr>
							<th style="width: 1%">
								#
							</th>
							<th style="width:20%">
								Name
							</th>
							<th style="width: 15%" class="text-center">
								Composed
							</th>
							<th style="width: 15%" class="text-center">
								Category
							</th>
							<th style="width: 15%" class="text-center">
								Singers
							</th>
							<th style="width: 5%" class="text-center">
								Time
							</th>
							<th style="width: 30%">
							</th>
						</tr>
					</thead>
					<tbody>

						@foreach (var item in Model)
						{
							<tr>
								<td>
									#
								</td>
								<td>

									@item.SP.TenSP
								</td>
								<td>
									<ul class="list-inline">
										@item.SP.SangTac

									</ul>
								</td>
								<td>

									@item.SP.Theloai
								</td>
								<td class="text-center">

									@item.TrinhBay
								</td>
								<td class="project-state">
									@item.Time
									@*<span class="badge badge-success">Success</span>*@
								</td>
								<td class="project-actions text-right">
									@*<a class="btn btn-primary btn-sm" href='/Admin/NGHESI/Detail?id=@item.SP.MaSP'>
											<i class="fas fa-folder">
											</i>
											View
										</a>*@
									<a class="btn btn-info btn-sm" href='/Admin/SANPHAM/Edit?id=@item.SP.MaSP'>
										<i class="fas fa-pencil-alt">
										</i>
										Edit
									</a>
									<a class="btn btn-danger btn-sm" onclick="if (confirm('Are you sure you want to delete?') == true) { location.href = '/Admin/SANPHAM/Delete?id=@item.SP.MaSP' }">
										<i class="fas fa-trash">
										</i>
										Delete
									</a>
								</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</section>
</div>