@model List<Web_Music.Models.NGHE_SI>
    @using Web_Music.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
    MyDBConect db = new MyDBConect();
   
        }
<link href="~/Assets/css/Artist.css" rel="stylesheet" />
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="~/Assets/css/styleMain.css">
<link rel="stylesheet" href="~/Assets/css/responsiveMain.css">
<link rel="stylesheet" href="~/Assets/css/imgMain/">
<link rel="stylesheet" href="~/Assets/css/Artist.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap"
      rel="stylesheet">

<div id="main-content">
    <header>
        <nav class="main-content__header-nav">
            <i class="fas fa-arrow-left"></i>
            <i class="fas fa-arrow-right"></i>
        </nav>
        <div class="main-content__search-form">
            <i class="fas fa-search search-btn"></i>
            <input type="text" class="search-input" placeholder="Search for artist, songs.....">
        </div>
    </header>

    <body>
        <div class="box-scroll">
            <h1 class="contain pt-5 header-content">Artist</h1>
            <div class="w3-content display-container">
                @{
                    var item = Model;
                }
                @for (int i = 0; i < item.Count(); i++)
                {
                    if (item.Count() == 1)
                    {
                        <div class="contain mySlides">
                            <div class="row list-row ">
                                <div class="col">

                                    <a href="/Home/DetailArtists?mans=@item[i].mans">
                                        <h4 class="contain nameArtist">@item[i].NgheDanh </h4>

                                    </a>
                                    <img class="img-list-artist" src=@item[i].URL_img.TrimStart('~') />




                                </div>

                            </div>
                        </div>
                        break;
                    }
                    if (item.Count() == 2)
                    {
                        <div class="contain mySlides">
                            <div class="row list-row ">
                                <div class="col">

                                    <a href="/Home/DetailArtists?mans=@item[i].mans">
                                        <h4 class="contain nameArtist">@item[i].NgheDanh </h4>

                                    </a>
                                    <img class="img-list-artist" src=@item[i].URL_img.TrimStart('~') />




                                </div>
                                <div class="col">

                                    <a href="/Home/DetailArtists?mans=@item[i+1].mans">
                                        <h4 class="contain nameArtist">@item[i + 1].NgheDanh </h4>

                                    </a>
                                    <img class="img-list-artist" src=@item[i+1].URL_img.TrimStart('~') />




                                </div>

                            </div>
                        </div>
                        break;
                    }
                    if (item.Count() == 3)
                    {
                        <div class="contain mySlides">
                            <div class="row list-row ">
                                <div class="col">

                                    <a href="/Home/DetailArtists?mans=@item[i].mans">
                                        <h4 class="contain nameArtist">@item[i].NgheDanh </h4>

                                    </a>
                                    <img class="img-list-artist" src=@item[i].URL_img.TrimStart('~') />




                                </div>
                                <div class="col">

                                    <a href="/Home/DetailArtists?mans=@item[i+1].mans">
                                        <h4 class="contain nameArtist">@item[i + 1].NgheDanh </h4>

                                    </a>
                                    <img class="img-list-artist" src=@item[i+1].URL_img.TrimStart('~') />




                                </div>
                                <div class="col">

                                    <a href="/Home/DetailArtists?mans=@item[i+2].mans">
                                        <h4 class="contain nameArtist">@item[i + 2].NgheDanh </h4>

                                    </a>
                                    <img class="img-list-artist" src=@item[i+2].URL_img.TrimStart('~') />




                                </div>

                            </div>
                        </div>
                        break;
                    }
                    if (item.Count() >= 4)
                    {

                        if (i == item.Count() - 3)
                        {
                            <div class="contain mySlides">
                                <div class="row list-row ">
                                    <div class="col">

                                        <a href="/Home/DetailArtists?mans=@item[i].mans">
                                            <h4 class="contain nameArtist">@item[i].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[i].URL_img.TrimStart('~') />




                                    </div>
                                    <div class="col">

                                        <a href="/Home/DetailArtists?mans=@item[i + 1].mans">
                                            <h4 class="contain nameArtist">@item[i + 1].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[i + 1].URL_img.TrimStart('~') />


                                        @*<img src="~/Assets/img/Home/download.jpg">*@
                                    </div>
                                    <div class="col">
                                        <a href="/Home/DetailArtists?mans=@item[i + 2].mans">
                                            <h4 class="contain nameArtist">@item[i + 2].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[i + 2].URL_img.TrimStart('~') />



                                        @*<img src="~/Assets/img/Home/taylor switf.png">*@
                                    </div>
                                    <div class="col">
                                        <a href="/Home/DetailArtists?mans=@item[0].mans">
                                            <h4 class="contain nameArtist">@item[0].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[0].URL_img.TrimStart('~') />
                                        @*<img src="~/Assets/img/Home/tóc-tiên.jpg">*@
                                    </div>
                                </div>
                            </div>

                        }
                        if (i == item.Count() - 2)
                        {
                            <div class="contain mySlides">
                                <div class="row list-row ">
                                    <div class="col">

                                        <a href="/Home/DetailArtists?mans=@item[i].mans">
                                            <h4 class="contain nameArtist">@item[i].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[i].URL_img.TrimStart('~') />




                                    </div>
                                    <div class="col">

                                        <a href="/Home/DetailArtists?mans=@item[i + 1].mans">
                                            <h4 class="contain nameArtist">@item[i + 1].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[i + 1].URL_img.TrimStart('~') />


                                        @*<img src="~/Assets/img/Home/download.jpg">*@
                                    </div>

                                    <div class="col">
                                        <a href="/Home/DetailArtists?mans=@item[0].mans">
                                            <h4 class="contain nameArtist">@item[0].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[0].URL_img.TrimStart('~') />
                                        @*<img src="~/Assets/img/Home/tóc-tiên.jpg">*@
                                    </div>
                                    <div class="col">
                                        <a href="/Home/DetailArtists?mans=@item[1].mans">
                                            <h4 class="contain nameArtist">@item[1].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[1].URL_img.TrimStart('~') />



                                        @*<img src="~/Assets/img/Home/taylor switf.png">*@
                                    </div>
                                </div>
                            </div>

                        }
                        if (i == item.Count() - 1)
                        {
                            <div class="contain mySlides">
                                <div class="row list-row ">
                                    <div class="col">

                                        <a href="/Home/DetailArtists?mans=@item[i].mans">
                                            <h4 class="contain nameArtist">@item[i].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[i].URL_img.TrimStart('~') />




                                    </div>


                                    <div class="col">
                                        <a href="/Home/DetailArtists?mans=@item[0].mans">
                                            <h4 class="contain nameArtist">@item[0].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[0].URL_img.TrimStart('~') />
                                        @*<img src="~/Assets/img/Home/tóc-tiên.jpg">*@
                                    </div>
                                    <div class="col">
                                        <a href="/Home/DetailArtists?mans=@item[1].mans">
                                            <h4 class="contain nameArtist">@item[1].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[1].URL_img.TrimStart('~') />



                                        @*<img src="~/Assets/img/Home/taylor switf.png">*@
                                    </div>
                                    <div class="col">

                                        <a href="/Home/DetailArtists?mans=@item[2].mans">
                                            <h4 class="contain nameArtist">@item[2].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[2].URL_img.TrimStart('~') />


                                        @*<img src="~/Assets/img/Home/download.jpg">*@
                                    </div>
                                </div>
                            </div>

                        }
                        if (i < item.Count() - 3)
                        {
                            <div class="contain mySlides">
                                <div class="row list-row ">
                                    <div class="col">

                                        <a href="/Home/DetailArtists?mans=@item[i].mans">
                                            <h4 class="contain nameArtist">@item[i].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[i].URL_img.TrimStart('~') />




                                    </div>
                                    <div class="col">

                                        <a href="/Home/DetailArtists?mans=@item[i + 1].mans">
                                            <h4 class="contain nameArtist">@item[i + 1].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[i + 1].URL_img.TrimStart('~') />


                                        @*<img src="~/Assets/img/Home/download.jpg">*@
                                    </div>
                                    <div class="col">
                                        <a href="/Home/DetailArtists?mans=@item[i + 2].mans">
                                            <h4 class="contain nameArtist">@item[i + 2].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[i + 2].URL_img.TrimStart('~') />



                                        @*<img src="~/Assets/img/Home/taylor switf.png">*@
                                    </div>
                                    <div class="col">
                                        <a href="/Home/DetailArtists?mans=@item[i + 3].mans">
                                            <h4 class="contain nameArtist">@item[i + 3].NgheDanh </h4>

                                        </a>
                                        <img class="img-list-artist" src=@item[i + 3].URL_img.TrimStart('~') />
                                        @*<img src="~/Assets/img/Home/tóc-tiên.jpg">*@
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }






                <div class="contain display ">
                    <button class=" want-dislay display-left" onclick="plusDivs(-1)" style="height: 40px;">&#10094;</button>
                    <button class=" want-display display-right" onclick="plusDivs(1)" style="height: 40px;">&#10095;</button>
                </div>



            </div>



        </div>
        <div class="gach"></div>
      
        <div class="detail_artists">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3" style="max-width:45%">

                            <!-- Profile Image -->
                            <div class="artists_profile">
                                <img class="img-artist"  src=@item[0].URL_img.TrimStart('~')  />
                                <a href="@item[0].NS_URL" style="font-size:20px;">@item[0].NgheDanh</a>
                               

                                <h3>@item[0].TenNS</h3>

                                <h4>@item[0].NgaySinh </h4>
                                <h5>@item[0].QueQuan</h5>


                                <!-- /.card-body -->
                            </div>

                        </div>
                        <!-- /.col -->

                        <div class="col-md-9">
                            <div class="my-playlist">
                                <div class="playlist-head">
                                    <h4>@item[0].NgheDanh</h4>
                                    <a href="/Home/FollowArtist?mans=@item[0].mans" class="btn-hover">Follow</a>
                                </div>
                                <div class="playlist-list" style="overflow-x:scroll;overflow-y:no-display; height:250px;">
                                   
                                    <div class="playlist playlist-list__title">
                                        <p class="playlist__number">#</p>
                                        <p class="playlist__title">TITLE</p>
                                        <p class="playlist__artist">ARTIST</p>
                                        <p class="playlist__time">TIME</p>
                                        
                                    </div>
                                    


                                </div>
                                <!-- /.card -->
                            </div>

                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div><!-- /.container-fluid -->
            </section>

        </div>



    </body>

</div>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }
    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>