
@model List<Web_Music.Function.TinMoi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section Head{
    <link rel="stylesheet" href="/Assets/css/extraStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="~/Assets/css/styleMain.css" rel="stylesheet" />
}
@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

}
<div id="main-content__feed">
    <header>
        <nav class="main-content__header-nav">
            <i class="fas fa-arrow-left"></i>
            <i class="fas fa-arrow-right"></i>
        </nav>
        <form class="main-content__search-form" action="/Home/index" method="post">
            <i class="fas fa-search search-btn"></i>

            <input type="text" class="search-input" placeholder="Search for artist, songs....." name="value">
            <button type="submit"></button>
        </form>
    </header>
    @{
        var item = Model;
        var count = item.Count();
        string thanh = "//gsjgkj";

    }

    <div class="row">



        <div class="col-lg-6">
            <!-- Dropdown Card Example -->
            @for (int i = 0; i < count; i = i + 2)
            {
                <div class="card shadow mb-4">
                    <a href="@item[i].URL_link" 
                       class="content-link"></a>
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            @item[i].TenTM
                        </h6>
                    </div>
					<div class="card-body">
						<div class="card-body__img"
							 style="background-image: url(@item[i].URL_img.TrimStart('~'))">
							<img src="@item[i].URL_img.TrimStart('~')" />
						</div>
						<p>
							The former couple, who got married in 2014, were reportedly living “separate lives”
							by
							early 2021 before Kardashian filed for divorce the following month. They share four
							children: North, Saint, Chicago and Psalm.
						</p>
					</div>
                </div>
            }



        </div>
        <div class="col-lg-6">
            <!-- Dropdown Card Example -->
            @for (int i = 1; i < count; i = i + 2)
            {
                <div class="card shadow mb-4">
                    <a href="@item[i].URL_link"
                       class="content-link"></a>
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            @item[i].TenTM
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="card-body__img"
                             style="background-image: url(@item[i].URL_img.TrimStart('~')">
                            <img src="@item[i].URL_img.TrimStart('~')" />

                        </div>
						<p>

							The former couple, who got married in 2014, were reportedly living “separate lives”
							by
							early 2021 before Kardashian filed for divorce the following month. They share four
							children: North, Saint, Chicago and Psalm.

						</p>
                    </div>
                </div>
            }



        </div>

    </div>
</div>

