@using Web_Music.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
    MyDBConect db = new MyDBConect();
    List<NGHE_SI> listArtist = db.NGHE_SI.ToList();


}

@section Head{
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">

    <link href="~/Assets/css/responsiveMain.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="~/Assets/css/styleMain.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap"
          rel="stylesheet">
   
    <link rel="stylesheet" href="~/Assets/css/responsiveMain.css">



}
@*@{
        var list = ViewBag.list;
        //int size = ViewBag.size;
    }*@
<script>
    const musics = [];
</script>
@{
    var list = ViewBag.list;
    var size = ViewBag.size;
    for (var i = 0; i < size; i++)
    {
        <script>
             musics.push({
                id:@list[0].stt,
                number:"@list[0].number",
                file:"@list[0].SP.SP_URL",
                title:"@list[0].SP.TenSP",
                artist:"@list[0].TrinhBay",
                 time: "@list[0].Time",
                 MaSP:"@list[0].MaSP",
                active:false,
             })
        </script>
        {
            list.Remove(list[0]);
        }
    }
}

@section Script{



    <script src="/Assets/javaScript/main.js"></script>
}
<div id="main-content">
    <header>
        <nav class="main-content__header-nav">
            <i class="fas fa-arrow-left"></i>
            <i class="fas fa-arrow-right"></i>
        </nav>
        <form class="main-content__search-form" action="/Home/index" method="post">
            <i class="fas fa-search search-btn"></i>

            <input type="text" class="search-input" placeholder="Search for artist, songs....." name="value">
            <button type="submit"></button>
        </form>
    </header>

    <p class="main-content__des">
        What's hot<span>
            <img src="/Assets/img/imgMain/fire.png" alt="" width="16px"
                 height="17px">
        </span>
    </p>
    <div class="main-content__trend">

        <div class="main-content__trend-title">Trending</div>
        <a href="/Trend/index" class="main-content__trend-more btn-hover">
            More
            <span><i class="fas fa-chevron-right"></i></span>
        </a>
    </div>
    @if (Session["theloai"].ToString() == "Nhạc trẻ")
    {
        <div class="main-content__banner"
             style="background-image: url('/Assets/img/imgMain/imgtrend/1663751155543_org.jpg')">

            <div class="card-body">
                <h2 class="trend-title" style="color:white;margin-top:30px;">Nhạc trẻ </h2>
                <p class="trend-des" style="color:white">
                    Trong Mơ - Là vào một buổi sáng khi em nhìn vào mình trong gương Em chẳng thể
                    nhận ra
                </p>
            </div>

        </div>
    }
    @if (Session["theloai"].ToString() == "Kpop")
    {
        <div class="main-content__banner"
             style="background-image: url('/Assets/img/imgMain/imgtrend/1663751593436_org.jpg')">
            <div class="card-body">
                <div style="color:white;margin-top:30px;">
                    <h2 class="trend-title">Nhạc Kpop</h2>
                    <p class="trend-des">
                        Bao năm hẹn thề, sao bây giờ người
                        <br> Se tơ duyên hạnh phúc quên thân bèo trôi
                    </p>
                </div>

            </div>

        </div>
    }

    @if (Session["theloai"].ToString() == "nước ngoài")
    {
        <div class="main-content__banner"
             style="background-image: url('/Assets/img/imgMain/imgtrend/Drake\ Laptop\ Wallpapers\ -\ Wallpaper\ Cave.png')">
            <div class="card-body">
                <div style="color:white;margin-top:30px;">
                    <h2 class="trend-title">Nhạc nước ngoài</h2>
                </div>

            </div>
        </div>
    }
    @if (Session["theloai"].ToString() == "DaLab")
    {
        <div class="main-content__banner"
             style="background-image: url('/Assets/img/imgMain/imgtrend/Fresh\ From\ The\ Dairy_\ Music.jpg')">
            <div class="card-body">
                <div style="color:white;margin-top:30px;">
                    <h2 class="trend-title">Chill cùng DaLab</h2>
                </div>

            </div>
        </div>
    }
    @if (Session["theloai"].ToString() == "trữ tình")
    {
        <div class="main-content__banner"
             style="background-image: url('/Assets/img/imgMain/imgtrend/International\ Artist\ Feature_\ Peru.jpg')">
            <div class="card-body">
                <div style="color:white;margin-top:30px;">

                    <h2 class="trend-title">Tuyển tập nhạc trữ tình hay nhất</h2>
                </div>
            </div>
        </div>
    }
    @if (Session["theloai"].ToString() == "Nhạc Vàng")
    {
        <div class="main-content__banner"
             style="background-image: url('/Assets/img/imgMain/imgtrend/pngtree-purple-minimalist-music-note-banner-background-image_233650.jpg')">
            <div class="card-body">
                <div style="color:white;margin-top:30px;">
                    <h2 class="trend-title">Bài hát đi cùng năm tháng dành cho bạn</h2>
                    <p class="trend-des">77 năm Quốc khánh 2/9: Những ca khúc sục sôi hào khí cách mạng</p>
                </div>
            </div>
        </div>
    }
    <div class="my-playlist">
        <div class="playlist-head">
            <h4>My Playlist</h4>
            <a class="btn-hover">Show all</a>
        </div>
        <div class="playlist-list" style="overflow-x:scroll;overflow-y:no-display; height:250px;">
            <div class="playlist playlist-list__title">
                <p class="playlist__number">#</p>
                <p class="playlist__title">TITLE</p>
                <p class="playlist__artist">ARTIST</p>
                <p class="playlist__time">TIME</p>
            </div>


        </div>
    </div>

    <div class="play-song">
        <div class="play-control">
            <div class="play-control__act">
                <i class="far fa-heart" id='heart'></i>
                <i class="fas fa-music"></i>
                <i class="fas fa-expand-alt"></i>
            </div>
            <div class="play-control__main">
                <i class="fas fa-redo-alt play-repeat"></i>
                <i class="fas fa-fast-backward play-backward main-icon"></i>
                <!-- <i class="fas fa-pause-circle pause-icon main-icon main-icon--big"></i> -->
                <span class="play-inner">
                    <i class="fas fa-play-circle play-icon main-icon main-icon--big"></i>
                </span>
                <i class="fas fa-fast-forward play-forward main-icon"></i>
                <i class="fas fa-random shuffle-song"></i>
            </div>
            <div class="play-control__volume">
                <i class="fas fa-volume-mute"></i>
                <input type="range" id="volume" class="volume" value="1" min="0" max="1" step="0.1">
                <i class="fas fa-volume-up"></i>
            </div>
        </div>
        <div class="play-seekbar">
            <div class="timer__left">0:00</div>
            <input type="range" name="range" id="range" class="range" />
            <audio src="/Assets/mp3/assests_mp3_ntt.mp3" id="song"></audio>
            <div class="timer__right">3.00</div>
        </div>
    </div>
</div>

<!--
    ====================SIDE-BAR=========================
-->
<div id="sidebar">
    <div class="sidebar__shortcuts">
        <p class="sidebar__shortcuts-title">
            Shortcuts
        </p>
        <div class="sidebar__shortcuts-items">
            <span class="sidebar__shortcuts-item">
                Chill
                <img src="/Assets/img/imgMain/snow.png" alt="">
            </span>
            <span class="sidebar__shortcuts-item">
                Hot
                <img src="/Assets/img/imgMain/star.png" alt="">
            </span>
            <span class="sidebar__shortcuts-item">
                Piano instrumental
                <img src="/Assets/img/imgMain/piano.png" alt="">
            </span>
            <span class="sidebar__shortcuts-item">
                Jazz
                <img src="/Assets/img/imgMain/jazz.png" alt="">
            </span>
            <span class="/Assets/sidebar__shortcuts-item">
                Acoustic
                <img src="/Assets/img/imgMain/ghitar.png" alt="">
            </span>
        </div>
    </div>

    <div class="sidebar__favorite">
        <a href="/Home/Artists" class="sidebar__favorite-title">Favorite Artists</a>
        ARTIST 1
        <div class="sidebar__favorite-list">
            <div class="artist-info__avt">
                <img src=@listArtist[0].URL_img.TrimStart('~') alt="">
            </div>
            <div class="artist-info">
                <a href="/Home/DetailArtists?mans=@listArtist[0].mans">
                    <h4 class="artist-info__name">@listArtist[0].TenNS</h4>

                </a>

            </div>
            <i class="fas fa-ellipsis-h"></i>
        </div>

        ARTIST 2
        <div class="sidebar__favorite-list">
            <div class="artist-info__avt">
                <img src=@listArtist[1].URL_img.TrimStart('~') alt="">

            </div>
            <div class="artist-info">
                <a href="/Home/DetailArtists?mans=@listArtist[1].mans">
                    <h4 class="artist-info__name">@listArtist[1].TenNS</h4>

                </a>


            </div>
            <i class="fas fa-ellipsis-h"></i>
        </div>
    </div>

    <div class="sidebar__suggest-album">
        <div class="suggest-album">
            <div class="suggest-album__img-container">
                <a href="/Home/DetailArtists?mans=@listArtist[2].mans">
                    <img src=@listArtist[2].URL_img.TrimStart('~') alt="">

                </a>


            </div>
            <div class="suggest-album__content">
                <div class="suggest-album__info">
                    <a href="/Home/DetailArtists?mans=@listArtist[2].mans">

                        <p>@listArtist[2].TenNS</p>
                    </a>

                </div>
                <i class="far fa-plus-square"></i>
            </div>
        </div>
    </div>
</div>

